.DS_Store
data/statsbomb360_wc22_all_events.csv
data/statsbomb360_wc22_train_val.csv
.venv/
__pycache__/
.ipynb_checkpoints/
*.py[cod]

data/raw/*
!data/raw/.gitkeep
data/interim/*
!data/interim/.gitkeep
data/processed/*
!data/processed/.gitkeep

outputs/tables/*
!outputs/tables/.gitkeep
outputs/figures/*
!outputs/figures/.gitkeep
outputs/logs/*
!outputs/logs/.gitkeep

slides/*.pptx
slides/*.pdf
